<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>
  <header class="join-header">
    <h1><i class="fas fa-smile"></i> ChatApp</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    <a href="/views/chat.handlebars">Chat</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/views/login.handlebars">Login</a>
    {{/if}}
  </nav>
  <main>
      {{{ body }}}
  </main>
  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script>
    var socket = io();
  </script>
  <script src="/public/js/main.js"></script>
</body>

</html>