<div class="chat-container">
    <main class="chat-main">
      <div class="chat-messages">
		  <div class="message"></div>
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button type="submit" class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        <button type="submit" class="btn">Leave Chat</button>
      </form>
    </div>
</div>

  <script src="./js/logout.js"></script>