<main class="join-main">
	<form action="chat.html">
		<div class="form-control">
			<label for="username">Username</label>
				<input
					type="text"
					name="username"
					id="username"
					placeholder="Enter username..."
					required
				/>
		</div>
		<div class="form-control">
			<label for="password">Password</label>
                <input
                    type="text"
                    name="password"
                    id="password"
                    placeholder="Enter password..."
                    required
                />
        </div>
        <button type="submit" class="btn">Join Chat</button>
    </form>
</main>

<script src="./js/login.js"></script>